In [1]:
import pandas as pd
import numpy as np

sigma_df = pd.read_csv('KSI.csv')

In [2]:
sigma_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18194 entries, 0 to 18193
Data columns (total 57 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   X                  18194 non-null  float64
 1   Y                  18194 non-null  float64
 2   INDEX_             18194 non-null  int64
 3   ACCNUM             13264 non-null  float64
 4   YEAR               18194 non-null  int64
 5   DATE               18194 non-null  object
 6   TIME               18194 non-null  int64
 7   STREET1            18194 non-null  object
 8   STREET2            16510 non-null  object
 9   OFFSET             3402 non-null   object
 10  ROAD_CLASS         17818 non-null  object
 11  DISTRICT           18089 non-null  object
 12  WARDNUM            17332 non-null  float64
 13  LATITUDE           18194 non-null  float64
 14  LONGITUDE          18194 non-null  float64
 15  LOCCOORD           18099 non-null  object
 16  ACCLOC             12744 non-null  object
 17  TRAFFCTL           18160 non-null  object
 18  VISIBILITY         18174 non-null  object
 19  LIGHT              18194 non-null  object
 20  RDSFCOND           18169 non-null  object
 21  ACCLASS            18189 non-null  object
 22  IMPACTYPE          18190 non-null  object
 23  INVTYPE            18178 non-null  object
 24  INVAGE             18194 non-null  object
 25  INJURY             9627 non-null   object
 26  FATAL_NO           827 non-null    float64
 27  INITDIR            13142 non-null  object
 28  VEHTYPE            14966 non-null  object
 29  MANOEUVER          10534 non-null  object
 30  DRIVACT            9243 non-null   object
 31  DRIVCOND           9240 non-null   object
 32  PEDTYPE            3060 non-null   object
 33  PEDACT             3082 non-null   object
 34  PEDCOND            3084 non-null   object
 35  CYCLISTYPE         774 non-null    object
 36  CYCACT             766 non-null    object
 37  CYCCOND            765 non-null    object
 38  PEDESTRIAN         7354 non-null   object
 39  CYCLIST            1906 non-null   object
 40  AUTOMOBILE         16550 non-null  object
 41  MOTORCYCLE         1587 non-null   object
 42  TRUCK              1122 non-null   object
 43  TRSN_CITY_VEH      1110 non-null   object
 44  EMERG_VEH          43 non-null     object
 45  PASSENGER          6906 non-null   object
 46  SPEEDING           2575 non-null   object
 47  AG_DRIV            9460 non-null   object
 48  REDLIGHT           1520 non-null   object
 49  ALCOHOL            788 non-null    object
 50  DISABILITY         486 non-null    object
 51  HOOD_158           18194 non-null  object
 52  NEIGHBOURHOOD_158  18194 non-null  object
 53  HOOD_140           18194 non-null  object
 54  NEIGHBOURHOOD_140  18194 non-null  object
 55  DIVISION           18194 non-null  object
 56  ObjectId           18194 non-null  int64
dtypes: float64(7), int64(4), object(46)
memory usage: 7.9+ MB

In [10]:
sigma_df.describe()

,PEDESTRIAN,CYCLIST,AUTOMOBILE,MOTORCYCLE,TRUCK,TRSN_CITY_VEH,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL
count,18194.000000,18194.000000,18194.000000,18194.000000,18194.000000,18194.000000,18194.000000,18194.000000,18194.000000,18194.000000,18194.000000
mean,0.404199,0.104760,0.909641,0.087227,0.061669,0.061009,0.379576,0.141530,0.519952,0.083544,0.043311
std,0.490750,0.306252,0.286704,0.282175,0.240559,0.239354,0.485295,0.348577,0.499616,0.276710,0.203562
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
sigma_df.isnull().sum()

ROAD_CLASS                0
DISTRICT                  0
LOCCOORD                  0
TRAFFCTL                  0
VISIBILITY                0
LIGHT                     0
RDSFCOND                  0
ACCLASS                   5
IMPACTYPE                 0
INVTYPE                   0
INJURY                    0
INITDIR                   0
MANOEUVER              7660
DRIVACT                8951
PEDACT                15112
CYCACT                17428
PEDESTRIAN                0
CYCLIST                   0
AUTOMOBILE                0
MOTORCYCLE                0
TRUCK                     0
TRSN_CITY_VEH             0
PASSENGER                 0
SPEEDING                  0
AG_DRIV                   0
REDLIGHT                  0
ALCOHOL                   0
NEIGHBOURHOOD_158         0
INVAGE_Categorized        0
dtype: int64

ValueError: could not convert string to float: 'Fatal'

In [3]:
import seaborn as sns
# sns.pairplot(sigma_df, diag_kind='hist')

In [4]:
features = [ 'ROAD_CLASS', 'DISTRICT', 'LOCCOORD', 'TRAFFCTL', 'VISIBILITY', 'LIGHT', 'RDSFCOND', 'ACCLASS', 'IMPACTYPE', 'INVTYPE', 'INVAGE', 'INJURY', 'INITDIR', 'MANOEUVER', 'DRIVACT', 'PEDACT', 'CYCACT', 'PEDESTRIAN', 'CYCLIST', 'AUTOMOBILE', 'MOTORCYCLE', 'TRUCK', 'TRSN_CITY_VEH', 'PASSENGER', 'SPEEDING', 'AG_DRIV', 'REDLIGHT', 'ALCOHOL', 'NEIGHBOURHOOD_158']
binary_features = ['PEDESTRIAN', 'CYCLIST', 'AUTOMOBILE', 'MOTORCYCLE', 'TRUCK', 'TRSN_CITY_VEH', 'PASSENGER', 'SPEEDING', 'AG_DRIV', 'REDLIGHT', 'ALCOHOL']
mode_features = ['ROAD_CLASS', 'DISTRICT','LOCCOORD', 'TRAFFCTL', 'VISIBILITY', 'LIGHT', 'RDSFCOND','IMPACTYPE', 'INVTYPE', 'INJURY', 'INITDIR' , 'INVAGE_Categorized']
hash_features = ['MANOEUVER', 'DRIVACT', 'PEDACT', 'CYCACT', 'NEIGHBOURHOOD_158']
def drop_unnecassary_columns(df, features):
    for column in df.columns:
        if column not in features:
            df.drop(column, axis=1, inplace=True)
    return df
df = drop_unnecassary_columns(sigma_df, features)

In [5]:
df.dtypes

ROAD_CLASS           object
DISTRICT             object
LOCCOORD             object
TRAFFCTL             object
VISIBILITY           object
LIGHT                object
RDSFCOND             object
ACCLASS              object
IMPACTYPE            object
INVTYPE              object
INVAGE               object
INJURY               object
INITDIR              object
MANOEUVER            object
DRIVACT              object
PEDACT               object
CYCACT               object
PEDESTRIAN           object
CYCLIST              object
AUTOMOBILE           object
MOTORCYCLE           object
TRUCK                object
TRSN_CITY_VEH        object
PASSENGER            object
SPEEDING             object
AG_DRIV              object
REDLIGHT             object
ALCOHOL              object
NEIGHBOURHOOD_158    object
dtype: object

In [6]:
unique_counts = df.nunique()
print(unique_counts)

ROAD_CLASS            10
DISTRICT               5
LOCCOORD               7
TRAFFCTL              10
VISIBILITY             8
LIGHT                  9
RDSFCOND               9
ACCLASS                3
IMPACTYPE             10
INVTYPE               19
INVAGE                21
INJURY                 4
INITDIR                5
MANOEUVER             16
DRIVACT               13
PEDACT                15
CYCACT                11
PEDESTRIAN             1
CYCLIST                1
AUTOMOBILE             1
MOTORCYCLE             1
TRUCK                  1
TRSN_CITY_VEH          1
PASSENGER              1
SPEEDING               1
AG_DRIV                1
REDLIGHT               1
ALCOHOL                1
NEIGHBOURHOOD_158    159
dtype: int64

In [7]:
def categorize_age(age_range):
    """
    Categorizes an age range into predefined age groups.
    
    Parameters:
    - age_range: str, the age range or category as specified in the 'INVAGE' column.
    
    Returns:
    - str, the age category ('kid', 'teenager', 'youth', 'adult', 'old', 'unknown').
    """
    if age_range in ['0 to 4', '5 to 9', '10 to 14']:
        return 'kid'
    elif age_range == '15 to 19':
        return 'teenager'
    elif age_range in ['20 to 24', '25 to 29']:
        return 'youth'
    elif age_range in ['30 to 34', '35 to 39', '40 to 44', '45 to 49', '50 to 54', '55 to 59', '60 to 64']:
        return 'adult'
    elif age_range in ['65 to 69', '70 to 74', '75 to 79', '80 to 84', '85 to 89', '90 to 94', 'Over 95']:
        return 'old'
    else:  # Handles 'unknown' and any other unexpected values
        return 'unknown'

# Apply the categorization function to the 'INVAGE' column
df['INVAGE_Categorized'] = df['INVAGE'].apply(categorize_age)
df.drop('INVAGE', axis=1, inplace=True)
features.remove('INVAGE')

In [8]:
def fill_missing_values(df, features):
    """
    Fills missing values in the specified features of a dataframe.
    
    Parameters:
    - df: pandas.DataFrame, the dataframe to process.
    - features: list, a list of column names whose missing values need to be filled.
    
    Returns:
    - pandas.DataFrame, the dataframe with missing values filled.
    """
    for feature in features:
            
        if feature in ['PEDESTRIAN', 'CYCLIST', 'AUTOMOBILE', 'MOTORCYCLE', 'TRUCK', 'TRSN_CITY_VEH', 'PASSENGER', 'SPEEDING', 'AG_DRIV', 'REDLIGHT', 'ALCOHOL']:  # Binary/Flag columns
            # Fill with 'No' assuming missing values imply the absence
            df[feature].fillna('No', inplace=True)
        else:  
            # Fill with 'Unknown' or the mode of the column
            df[feature].fillna(np.nan, inplace=True)
    for feature in ['PEDESTRIAN', 'CYCLIST', 'AUTOMOBILE', 'MOTORCYCLE', 'TRUCK', 'TRSN_CITY_VEH', 'PASSENGER', 'SPEEDING', 'AG_DRIV', 'REDLIGHT', 'ALCOHOL']:
        df[feature] = df[feature].replace({'Yes': 1, 'No': 0})
    return df
df = fill_missing_values(df, features)

from sklearn.impute import SimpleImputer

def fill_with_mode(df, mode_features):
    
    """
    Fills missing values in the specified features of a dataframe with the mode.
    
    Parameters:
    - df: pandas.DataFrame, the dataframe to process.
    - mode_features: list, a list of column names whose missing values need to be filled with the mode.
    
    Returns:
    - pandas.DataFrame, the dataframe with missing values filled with the mode.
    """
    for feature in mode_features:
        imputer = SimpleImputer(strategy='most_frequent')
        df[feature] = imputer.fit_transform(df[[feature]])[:, 0]
    
    return df

df = fill_with_mode(df, mode_features)
df.isnull().sum()

ROAD_CLASS                0
DISTRICT                  0
LOCCOORD                  0
TRAFFCTL                  0
VISIBILITY                0
LIGHT                     0
RDSFCOND                  0
ACCLASS                   5
IMPACTYPE                 0
INVTYPE                   0
INJURY                    0
INITDIR                   0
MANOEUVER              7660
DRIVACT                8951
PEDACT                15112
CYCACT                17428
PEDESTRIAN                0
CYCLIST                   0
AUTOMOBILE                0
MOTORCYCLE                0
TRUCK                     0
TRSN_CITY_VEH             0
PASSENGER                 0
SPEEDING                  0
AG_DRIV                   0
REDLIGHT                  0
ALCOHOL                   0
NEIGHBOURHOOD_158         0
INVAGE_Categorized        0
dtype: int64

In [9]:
def apply_one_hot_encoding_to_columns(df, columns):
    """
    Applies one-hot encoding to specified columns in a dataframe.
    
    Parameters:
    - df: pandas.DataFrame, the original dataframe.
    - columns: list, a list of column names to be one-hot encoded.
    
    Returns:
    - pandas.DataFrame, the modified dataframe with one-hot encoded columns added.
    """
    for column in columns:
        encoded_columns = pd.get_dummies(df[column], prefix=column)
        df = pd.concat([df, encoded_columns], axis=1)
        df.drop(column, axis=1, inplace=True)  # Optionally drop the original column
        
    return df

# Columns to be one-hot encoded
columns_to_onehot_encode = ['ROAD_CLASS', 'DISTRICT', 'LOCCOORD', 'TRAFFCTL', 'VISIBILITY', 'LIGHT', 'RDSFCOND', 'IMPACTYPE', 'INVTYPE', 'INJURY', 'INITDIR', 'PEDACT', 'CYCACT', 'PEDESTRIAN', 'CYCLIST', 'AUTOMOBILE', 'MOTORCYCLE', 'TRUCK', 'TRSN_CITY_VEH', 'PASSENGER', 'SPEEDING', 'AG_DRIV', 'REDLIGHT', 'ALCOHOL']


# Applying the one-hot encoding function to the dataframe
data_encoded = apply_one_hot_encoding_to_columns(df, columns_to_onehot_encode)

# Display the first few rows of the modified dataframe to verify the changes
data_encoded.head()

,ACCLASS,MANOEUVER,DRIVACT,NEIGHBOURHOOD_158,INVAGE_Categorized,ROAD_CLASS_Collector,ROAD_CLASS_Expressway,ROAD_CLASS_Expressway Ramp,ROAD_CLASS_Laneway,ROAD_CLASS_Local,...,PASSENGER_0,PASSENGER_1,SPEEDING_0,SPEEDING_1,AG_DRIV_0,AG_DRIV_1,REDLIGHT_0,REDLIGHT_1,ALCOHOL_0,ALCOHOL_1
0,Fatal,Turning Left,Failed to Yield Right of Way,High Park North,unknown,False,False,False,False,False,...,True,False,True,False,False,True,True,False,True,False
1,Fatal,NaN,NaN,High Park North,old,False,False,False,False,False,...,True,False,True,False,False,True,True,False,True,False
2,Fatal,Turning Right,Disobeyed Traffic Control,Malvern East,adult,False,False,False,False,False,...,True,False,True,False,False,True,False,True,True,False
3,Non-Fatal Injury,NaN,NaN,Woodbine-Lumsden,adult,False,False,False,False,False,...,False,True,False,True,False,True,True,False,False,True
4,Fatal,Going Ahead,Driving Properly,Malvern East,unknown,False,False,False,False,False,...,True,False,True,False,False,True,False,True,True,False